body {
  background: linear-gradient(rgba(22, 22, 24, 0.1), rgba(22, 22, 24, 1)),
    url("../imgs/japan_street_night.jpg");
  /*	background-image: url('../imgs/japan_street_night.jpg'); */
  /* background-color: #161618; */
  background-position: center center;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-size: 100%;
  /* background-size: cover;  */
  /* color: #f2f5f4; */
  /* font-family: Sans-Serif; */
  /* text-shadow: 2px 2px 0px #161618; */
}

a {
  text-decoration: none;
  color: #f2f5f4;
}

[data-bs-theme="dark"] .element {
  color: var(--bs-primary-text-emphasis);
  background-color: var(--bs-primary-bg-subtle);
}
